
{% extends 'main.html' %}
{% load static %}
{% block title %} DashBoard {% endblock title %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container mt-2">

        <ol>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'dashboard' %}#business">Businesses</a></li>
          <li><a href="{% url 'dashboard' %}#realestate">RealEstate</a></li>
          <li><a href="{% url 'dashboard' %}#leads">Leads</a></li>
          <li class="dropdown"><a href="#"><span>Add Listing</span> <i class="bi bi-chevron-down"></i></a>
            <ol>
              <li class="text-color-dark"><a class="text-color-dark"  href="{% url 'add_realestate' %}">RealEstate</a></li>
              <li class="text-color-dark"><a class="text-color-dark" href="{% url 'add_business' %}">Business</a></li>
            </ol>
          </li>
          {% comment %} <li><a href="{% url 'logout' %}">logout</a></li> {% endcomment %}
        </ol>
        <h2>DashBoard</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Dashboard ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">
            {% if messages %}
                {% for message in messages %}

                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error : {{ message }}
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        Success : {{ message }}
                    {% else %}
                        {{ message.tags | title }}
                    {% endif %}
                    {{ message. }}
                </strong>
                </div>
                    
                {% endfor %}
            {% endif %}

            <!-- ======= Listed business Section ======= -->
            <section id="business" class="recent-blog-posts">

                <div class="container" data-aos="fade-up">
            
                <header class="section-header">
                    <h2><a href="{% url 'add_business' %}" title='add business listing'>Business</a></h2>
                    <p>Businesses You Listed</p>
                </header>
            
                <div class="row">
                    {% for biz in businesses %}
                    <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img"><img src="{{ biz.imageURL}}" class="img-fluid" alt=""></div>
                        <h3 class="post-title">{{biz.title}}</h3>
                        <span class="post-date">{{biz.location}}, {{biz.county}}-{{biz.country}}</span>
                        <hr>
                        <p>Asking Price : <strong>ksh{{biz.asking_price}}</strong></p>
                        <p>Annual Revenue: <strong>ksh{{biz.gross_annual_revenue}}</strong></p>
                        <p>Cashflow : <strong>ksh{{biz.cashflow}}</strong></p>
                        <hr>
                        <p>industry : {{biz.industry.name}}</p> 
                        <p>category: {{biz.category.name}}</p>
                        <hr>
                        <a href="{% url 'biz_single' biz.id %}" class="readmore stretched-link mt-auto"><span>Find Out More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                    </div>
                    {% endfor %}
            
                </div>
            
                </div>
        
            </section><!-- End business Section -->
        
            <!-- ======= listed RealEstate Section ======= -->
            <section id="realestate" class="recent-blog-posts">
            
                <div class="container" data-aos="fade-up">
            
                <header class="section-header">
                    <h2><a href="{% url 'add_realestate' %}" title='add realestate listing'>RealEstate</a></h2>
                    <p>Commercial RealEstates You Listed</p>
                </header>
            
                <div class="row">
                    {% for realestate in realestates %}
                    <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img"><img src="{{ realestate.imageURL}}" class="img-fluid" alt=""></div>
                        <h3 class="post-title">{{realestate.title}} </h3>
                        <hr>
                        <p>Property Name: <strong>{{realestate.property_name}}</strong></p>
                        <p>Asking Price:   ksh<strong>{{realestate.asking_price}}</strong></p>
                        <p>Listed By : <strong>{{realestate.listed_by.are_you}}</strong></p>
                        <hr>
                        <p>Average Monthly Income:   ksh<strong>{{realestate.average_montly_rental_income}}</strong></p>
                        <p>Total Rooms:   <strong>{{realestate.total_rooms}}</strong></p>
                        <p>Current Occupied Rooms:   <strong>{{realestate.current_occupied_rooms}}</strong></p>
                        <hr>
                        <a href="{% url 'realestate_single' realestate.id %}" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                    </div>
                    {% endfor %}
            
                </div>
            
                </div>
            
            </section><!-- End realestate Section -->
        
            <!-- ======= Leads Section ======= -->
            <section id="leads" class="recent-blog-posts">
            
                <div class="container" data-aos="fade-up">
            
                <header class="section-header">
                    <h2>Leads</h2>
                    <p>Leads You Have</p>
                </header>
            
                <div class="row">
                    {% for lead in leads %}
                    <div class="col-lg-4">
                    <div class="post-box">
                        <h3 class="post-title">Name: {{lead.full_name}} </h3>
                        <p>Date : <strong>{{lead.date}}</strong></p>
                        <hr>
                        <p>Phone Number: <strong>{{lead.phone_number}}</strong></p>
                        <p>Email:   <strong>{{lead.email}}</strong></p>
                        <hr>
                        <p>Business intrested in : <strong>{{lead.business_intrested_in.business_name}}</strong></p>
                        <p>Property intrested in:  <strong>{{lead.property_intrested_in.property_name}}</strong></p>
                        <hr>
                        <p>Message: {{lead.message}}</p></div>
                    </div>
                    {% endfor %}
            
                </div>
            
                </div>
            
            </section><!-- End  Section -->

        </div>
    </section><!-- End biz Single Section -->

  </main><!-- End #main -->
  

 {% endblock %}